
.title {
	color: #272727;
	font-weight: bold;
}

.sub-title {
	font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
	color: #272727;
	margin-bottom: 25px;
}

.info .info-title {
	text-align: center;
	margin-bottom: -5px;
}

.info .info-title + .info-title {
	text-align: center;
}

.info .info-text {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

.custom-div {
	position: relative;
	display: flex;
    align-items: center;
    flex-direction: column;
	min-height: 250px;
	height: auto;
    width: auto;
	padding: 0 50px;
    border-radius: 20px;
	background-color: #FFFAF0;
	margin: 0 25px;
	margin-top: 5vh;
	box-shadow: 10px 10px #000000;
}

#submit-btn {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
    width: 90%;
    font-size: 15px;
    background: #FFA776;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 5px 5px #000;
	text-transform: uppercase;
	margin-top: 50px;
}

#submit-btn:hover {
	background-color: #f57e3f !important;
}

.tab-header {
	background-color: #FFFAF0 !important;
}

.table {
	border-collapse: unset;
	margin-bottom: 20px;
}

.table .oponent {
	color: #FFFAF0;
	background-color: #272727;
	border-radius: 15px;
}

.table .score {
	text-align: center;
	font-weight: 600;
    color: #272727;
    background-color: #ffffff;
    border-radius: 15px ;
    box-shadow: 3px 3px 0px black;
    border: 2px solid black ;
}

.table .name {
	color: #FFFAF0;
	background-color: #272727;
	border-radius: 15px;
}

.table .status {
	text-align: center;
	font-weight: 600;
    color: #272727;
    background-color: #ffffff;
    border-radius: 15px ;
    box-shadow: 3px 3px 0px black;
    border: 2px solid black;
}

#removeButtonId {
	width: 37px;
	margin-left: 20px;
	margin-right: -20px;
	background-color: red;
	color: #FFFAF0;
	border-radius: 10px ;
    box-shadow: 3px 3px 0px black;
    border: 2px solid black ;
	font-weight: bold;
}

#acceptButtonId {
	margin-left: 20px;
	margin-right: -60px;
	background-color: #29cf16;
	color: #FFFAF0;
	border-radius: 5px ;
    box-shadow: 3px 3px 0px black;
    border: 2px solid black ;
}

#acceptButtonId:hover {
	background-color: rgb(49, 168, 36);
}

#noFriends{
	position: absolute;
	top: 30%;
	text-align: center;
	font-weight: 1000;
	font-size: clamp(30px, 5.5vh, 6vh);
	opacity: 50%;
	margin-bottom: 100px;
}

#noFriendsRequests {
	position: absolute;
	top: 23%;
	text-align: center;
	font-weight: 1000;
	font-size: clamp(30px, 4.5vh, 5vh);
	opacity: 50%;
	margin-bottom: 100px;
}

.btn-success {
	background-color: rgb(41, 207, 22);
	box-shadow: 3px 3px 0px black;
    border: 2px solid black ;
}

.btn-secondary {
	box-shadow: 3px 3px 0px black;
    border: 2px solid black ;
}

.btn-success:hover {
	background-color: rgb(49, 168, 36);
}

#customCloseButton::before,
#customCloseButton::after {
	
    color: white !important;
}

#customCloseButton {
	background-color: red !important;
	color: white !important;
}

#status {
	margin-right: 5vw;
	font-weight: bold;
	text-align: center;
	white-space: pre;
}

.modal-content {
	background-color: #6cb4e7;
	box-shadow: 5px 5px 0px rgb(0, 0, 0);
    border: 3px solid black ;
}

.btn-close {
    --bs-btn-close-opacity: 100 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23ffffff' d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    cursor: pointer;
}

#friendUsername {
	border: 3px solid black ;
}

#pie-chart {
	padding-top: 10px;
	padding-bottom: 30px;
}

.custom-stats {
	/* position: relative; */
	display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
	min-height: 60px;
	height: 100px;
	width: 210px;
    border-radius: 15px;
	margin: 10px 20px 35px 20px;
	box-shadow: 10px 10px #000000;
	/* padding: 10px; */
}

#div-0 {
	background-color: #80DEEA;
}

#div-1 {
	background-color: #FFE082;
}

#div-2 {
	background-color: #FFAB91;
}

#div-3 {
	background-color: #CE93D8;
}

#stats-title {
	text-align: center;
	margin-bottom: 0 !important;
}

#stats-h1 {
	text-align: center;
	font-weight: bold;
}