body
{
	height: 100vh;
	width: 100vw;
	background:transparent;
	margin: 0;
	overflow: hidden;
}

.game-display
{
	width: 100%;
	height: 100%;
}

.full-screen-div
{
	width: fit-content;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.title {
	color: #272727;
	font-weight: bold;
}

#against-title {
	color: #FFFAF0;
	font-weight: 700;
	-webkit-text-stroke: 2px black;
	text-align: center;
}

.custom-div {
	position: relative;
	display: flex;
    align-items: center;
    flex-direction: column;
	/* padding: 0 3vw; */
	margin-top: 5vh;
}

.btn, .btn:focus {
    box-shadow: 3px 3px 0px black;
    border: 4px solid black;
    padding: 2vh;
    font-size: 2vmin;
    background-color: #FFA776;
    border-radius: 15px;
    font-weight: 700;
}

.btn:hover {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: #f57e3f;
}

.score
{
	position: relative;
	top: 8vh;
	color:black;
	font-weight: bolder;
	font-size: 5vmin;
	margin: 0;
}

#player1
{
	padding-left : 1rem;
	float: left;
	color:#E23434;
}

#player2
{
	padding-right : 1rem;
	float: right;
	color:#6CB4E7;
}

#player1, #player2
{
	position: relative;
	bottom: 17vh;
}

.custom-button {
	position: relative;
	bottom: 12vh;
	margin-bottom: -6vh;
	display: flex;
    align-items: center;
    flex-direction: column;
	max-width: 150px;
}

#against-title {
	margin-bottom: 15px;
}