/* html {
	overflow: hidden;
} */

.title {
	color: #272727;
	font-weight: bold;
}

.button-game {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.custom-div {
	position: relative;
	display: flex;
    align-items: center;
    flex-direction: column;
	padding: 0 50px;
	margin-top: 5vh;
}

.btn {
    padding: 15px;
    font-size: 15px;
    background: #FFA776;
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 5px 5px #000;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #f57e3f;
}

.pong-canvas {
	border: 5px solid black;
}
