body
{
	height: 100vh;
	width: 100vw;
	background:transparent;
	margin: 0;
	overflow: hidden;
}

.game-display
{
	width: 100%;
	height: 100%;
}

.full-screen-div
{
	width: fit-content;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.title {
	color: #272727;
	font-weight: bold;
}

#against-title {
	color: #FFFAF0;
	font-weight: 700;
	-webkit-text-stroke: 2px black;
	text-align: center;
}

.custom-div {
	position: relative;
	display: flex;
    align-items: center;
    flex-direction: column;
	/* padding: 0 3vw; */
	margin-top: 3vh;
}

.btn, .btn:focus {
    box-shadow: 3px 3px 0px black;
    border: 4px solid black;
    padding: 2vh;
    font-size: 2vmin;
    background-color: #FFA776;
    border-radius: 15px;
    font-weight: 700;
}

.btn:hover {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: #f57e3f;
}

.score
{
	position: relative;
	color:black;
	font-weight: bolder;
	font-size: 5vmin;
	margin: 0;
	margin-top: -4vh;
}

#player1
{
	padding-left : 1rem;
	float: left;
	color:#E23434;
	left:5vh;
}

#player2
{
	padding-right : 1rem;
	float: right;
	color:#6CB4E7;
	right:5vh;
}

#player1, #player2
{
	position: absolute;
	bottom: 2vh;
}

#score-left
{
	left:30%;
}

#score-right
{
	right:30%;
}

#score-left, #score-right
{
	position: absolute;
	top: 10vh;
}

.custom-button {
	position: relative;
	bottom: 2vmin;
	display: flex;
    align-items: center;
    flex-direction: column;
	max-width: 150px;
}

#against-title {
	margin-bottom: 15px;
}

/* .btn-check:hover {
	background-color: #f57e3f !important;
} */

#leave-match {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: rgb(192, 36, 36);
}

#leave-match:hover {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: rgb(255, 0, 0);
}

#multi-btn {
	background-color: #3fc21e;
}

#multi-btn:hover {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: #1eff00;
}

.input-game:checked + label {
	background-color: #eb5a0d !important;
}

.input-game:checked:hover + label {
	background-color: #eb5a0d !important;
}

#input-label {
	background-color: #FFA776;
}

#input-label:hover {
	box-shadow: 3px 3px 0px black;
    border: 4px solid black;
	background-color: #eb5a0d;
}
