#info
{
    width: 100%;
    text-align: center;
}

#join
{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

.error
{
    font-size: large;
    color: rgb(134, 25, 25);
    margin-bottom: 0;
}

.bubble 
{
    padding : 1vmax;
    border-radius: 1rem;
    box-shadow: 0.8rem 0.8rem 0px black ;
    background-color: rgb(253, 253, 249);
}

.vignette
{
    border: 0.2rem solid #000;
    box-shadow: 2px 2px 0px 1px #000;
}

.vignette:hover, .vignette:focus
{
    border : 0.2rem solid #000;
}

.button
{
    background-color: rgb(41, 207, 22);
    font-weight: bold;
}

.button:hover
{
    background-color: rgb(26, 255, 0);
}

.input-text
{
	outline: none;
	border-radius: 0.2rem;
}

.score-body
{
    font-size: small;
}

.score-head
{
    font-size: medium;
}